export LANGSMITH_TRACING=true
export LANGSMITH_API_KEY=<your-api-key>
export SLACK_BOT_TOKEN=<your-slack-bot-token>
export SLACK_SIGNING_SECRET=<your-slack-signing-secret>
export MONGODB_URI=<mongo-db-uri>
export GOOGLE_API_KEY=<your-google-api-key>
